{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "import", "tailwindcss"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended",
		"plugin:import/typescript",
		"plugin:tailwindcss/recommended",
		"prettier"
	],
	"parserOptions": {
		"project": ["./tsconfig.json"],
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true,
		"es2022": true
	},
	"settings": {
		// Help eslint-plugin-tailwindcss to parse Tailwind classes outside of className
		"tailwindcss": {
			"callees": ["tw"]
		},
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true
			}
		},
		"jest": {
			"version": 27
		}
	},
	"rules": {
		"no-console": "warn",
		"arrow-body-style": ["warn", "as-needed"],
		// @typescript-eslint
		"@typescript-eslint/consistent-type-imports": "error",
		"import/no-duplicates": "error",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "all",
				"argsIgnorePattern": "^_",
				"destructuredArrayIgnorePattern": "^_",
				"ignoreRestSiblings": false
			}
		],
		//import
		"import/no-cycle": "error",
		"import/no-unresolved": "error",
		"import/no-default-export": "warn",
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "internal"],
				"pathGroups": [
					{
						"pattern": "react",
						"group": "external",
						"position": "before"
					}
				],
				"pathGroupsExcludedImportTypes": ["react"],
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		]
	},
	"overrides": [
		{
			"files": [
				"./app/root.tsx",
				"./app/entry.client.tsx",
				"./app/entry.server.tsx",
				"./app/routes/**/*.tsx",
				"./app/routes.ts",
				"./react-router.config.ts"
			],
			"rules": {
				"import/no-default-export": "off"
			}
		},
		{
			"files": ["./app/entry.server.tsx"],
			"rules": {
				"no-async-promise-executor": "off"
			}
		},
		{
			"files": ["./app/utils/env.ts"],
			"rules": {
				"@typescript-eslint/no-namespace": "off"
			}
		},
		{
			"files": ["*.js"],
			"parserOptions": {
				"project": null
			},
			"rules": {
				"@typescript-eslint/no-require-imports": "off"
			}
		}
	],
	"ignorePatterns": [
		"coverage/**",
		"build/**",
		"node_modules/**",
		".react-router/**"
	]
}
